<div style="margin: 20px;">
    <h1>Home di Libreria Girardi</h1>
    <form [formGroup]="form" (ngSubmit)="cercaLibro()">
        <h2>Ricerca id</h2>
        <mat-form-field class="example-full-width">
            <mat-label>id</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
        <button type="submit" mat-icon-button><mat-icon>search</mat-icon></button>
    </form>
    <div>
        {{libro.id}} | {{libro.titolo}} | {{libro.autore}} | {{libro.tipo}}
    </div>
</div>